In [4]:
import pandas as pd
import os

Load all csv files

In [12]:
town_state = pd.read_csv('../Data/town_state.csv')
town_state.head()

   Agencia_ID                   Town             State
0        1110     2008 AG. LAGO FILT      MÉXICO, D.F.
1        1111  2002 AG. AZCAPOTZALCO      MÉXICO, D.F.
2        1112    2004 AG. CUAUTITLAN  ESTADO DE MÉXICO
3        1113     2008 AG. LAGO FILT      MÉXICO, D.F.
4        1114   2029 AG.IZTAPALAPA 2      MÉXICO, D.F.

In [14]:
products = pd.read_csv('../Data/producto_tabla.csv')
products.head()

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72

In [16]:
clients = pd.read_csv('../Data/cliente_tabla.csv')
clients.head()

   Cliente_ID                            NombreCliente
0           0                               SIN NOMBRE
1           1                         OXXO XINANTECATL
2           2                               SIN NOMBRE
3           3                                EL MORENO
4           4  SDN SER  DE ALIM  CUERPO SA CIA  DE INT

In [17]:
test = pd.read_csv('../Data/test.csv')
test.head()

   id  Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
0   0      11        4037         1      2209     4639078        35305
1   1      11        2237         1      1226     4705135         1238
2   2      10        2045         1      2831     4549769        32940
3   3      11        1227         1      4448     4717855        43066
4   4      11        1219         1      1130      966351         1277

In [18]:
train = pd.read_csv('../Data/train.csv')
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4
2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4
3,3,1110,7,3301,15766,1240,4,33.52,0,0.0,4
4,3,1110,7,3301,15766,1242,3,22.92,0,0.0,3

In [19]:
sample_submission = pd.read_csv('../Data/sample_submission.csv')
sample_submission.head()

   id  Demanda_uni_equil
0   0                  7
1   1                  7
2   2                  7
3   3                  7
4   4                  7